@import "base/variables";
/*Header*/
header { 
    background-color: nph($colors, 1);
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    list-style: none;
    width: 100%;
    position: fixed;
}
#menu {
    ul {
        text-align: right;
        li {
            display: inline-block;
            &:hover{
                color: nph($colors, 6);
                font-weight: bold;
            }
        }
    }
    div div ul li a{
                    color: nph($colors, 2);
                    text-decoration: none;
                    margin: 0.5em;
                    text-align: right;
                    font-size: 1em;
                     }
                
}            
      